.skills {
  /* border: 2px solid black; */
  width: 88%;

  /* padding: 12px; */
  /* background-color: var(--light-2); */
}

h1 {
  text-align: center;
}

.skills_container {
  /* border: 2px solid black; */
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  height: auto;
  /* margin-top: 12px; */
  /* gap:40px; */
  justify-content: center;
  align-items: center;
}

.skills_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 2px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
  opacity: 100%;
}

.skill:hover {
  background-color: var(--purple);
  /* color: var(--light); */
}

.skills_cards {
  /* border:1px solid black; */
  margin-bottom: 24px;
}

@media only screen and (max-width: 968px) {
  .skills {
    /* border :2px solid red; */
    padding: 10px;
  }
  .skills_container {
    /* border: 2px solid black; */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .skill {
    /* border :5px solid red; */
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .skills_container {
    /* border: 2px solid black; */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
